@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;500&display=swap');

/* General Info */
html {
    font-family: Montserrat;
}

* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    height: 140vh;
    display: flex;
    flex-direction: row;
}

/* Transitions of all pages */
@keyframes show-page {
    0%{
        left: -50%;
    }
    100%{
        left: 0%;
    }
}

/* Section 1 */
.section-photo{
    display: flex;
    position: absolute;
    width: 50%;
    height: 140vh;
    border-left: .1em solid #336072;
    animation: show-page 3s forwards;
}

.name {
    display: flex;
    position: absolute;
    left: 10%;
    top: 5%;
    width: 50%;
    height: 5%;
    font-size: 100;
    cursor: pointer;
}

.background-photo {
    position: fixed;
    width: 50%;
    height: 100vh;
    background-image: url(./Images/Background.png);
}

.div-photo {
    display: flex;
    position: absolute;
    left: 20%;
    top: 25%;
    width: 60%;
    height: 55%;
    border-radius: 10%;
}

.photo {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: 10px 15px 50px rgb(122, 75, 91);
    border-radius: 10%;
    width: 100%;
}


/* Section 2 */
.info{
    display: flex;
    position: relative;
    position: relative;
    width: 50%;
    height: 140vh;
    left: 50%;
    background-color: #9ad4eb;
    border-left: .1em solid #336072;
}

.title{
    display: flex;
    position: absolute;
    width: 70%;
    height: 15%;
    left: 20%;
    top: 25%;
    font-size: 3em;
    letter-spacing: .1em;
}

.paragraph{
    display: flex;
    position: absolute;
    width: 60%;
    height: 5%;
    left: 20%;
    top: 40%;
}

.nav-btns{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 60%;
    height: 25%;
    left: 20%;
    top: 49%;
}

.button{
    display: inline;
    cursor: pointer;
    border-radius: 8px;
    border: .1em solid #336072;
    font-weight: 700;
    letter-spacing: .1em;
    text-align: center;
    width: 100%;
    height: 20%;
    margin-bottom: 5%;
}

.button:hover{
    background-color: #336072;
    color: white;
    transition: .8s ease;
}

.nav-icons{
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 60%;
    height: 3%;
    top: 74%;
    left: 15%;
}

.btn-icon{
    display: flex;
    cursor: pointer;
    background: transparent;
    border: none;
    position: relative;
    width: 10%;
    height: 100%;
    left: 35%;
    margin-right: 10%;
}

.icon{
    width: 2em;
    background: transparent;
}

.icon:hover{
    width: 2.5em;
    transition: .3s ease;
}

/* Section 3 */

.section-piercings{
    display: none;
    position: absolute;
    width: 50%;
    height: 140vh;
    animation: show-page 3s forwards;
    background-color: white;
}

.piercings-slide{
    display: flex;
    position: relative;
    left: 11%;
    top: 23%;
    height: 60%;
    width: 80%;
    overflow: hidden;
}

/*Animation for the piercings pages.*/

.nav-piercings{
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 100%;
    height: 100%;
    transition: all 1s ease-in-out;
    overflow: hidden;
}

.nav-piercings-individual{
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    height: 24%;
    margin-bottom: 9%;
}

.piercing{
    display: flex;
    position: relative;
    border: 1px solid rgb(122, 75, 91);
    border-radius: 8px;
    width: 33%;
    height: 100%;
    margin-right: 3%;
    cursor: pointer;
    overflow: hidden;
}

.piercing:hover{
    width: 50%;
    height: 120%;
    transition: .6s ease;
}

.img-piercing{
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
}

.btn-piercings{
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 10%;
    height: 3%;
    top: 83%;
    left: 45%;
}

#prevBtn{
    display: flex;
    position: absolute;
    top: 50%;
    width: 4.5%;
    height: 3%;
    left: 4%;
    cursor: pointer;
    border-radius: 50%;
}

#prevBtn:hover{
    width: 5.5%;
    height: 4%;
    transition: .3s ease;
}

#nextBtn{
    display: flex;
    position: absolute;
    top: 50%;
    width: 4.5%;
    height: 3%;
    right: 4%;
    cursor: pointer;
    border-radius: 50%;
}

#nextBtn:hover{
    width: 5.5%;
    height: 4%;
    transition: .3s ease;
}

.bf-piercings{
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
}

/* Section 4 */

.section-jobs{
    display: none;
    position: absolute;
    width: 50%;
    height: 140vh;
    animation: show-page 3s forwards;
    background-color: white;
}

.div-jobs {
    display: flex;
    position: absolute;
    left: 20%;
    right: 20%;
    top: 25%;
    width: 60%;
    height: 55%;
    border-radius: 10%;
    box-shadow: 10px 15px 50px rgb(122, 75, 91);
    cursor: pointer;
    overflow: hidden;
}

.jobs {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 10%;
    width: 100%;
    transition: all 1s ease-in-out;
}

#prevBtn2{
    display: flex;
    position: absolute;
    top: 50%;
    width: 4.5%;
    height: 3%;
    left: 4%;
    cursor: pointer;
    border-radius: 50%;
}

#prevBtn2:hover{
    width: 5.5%;
    height: 4%;
    transition: .3s ease;
}

#nextBtn2{
    display: flex;
    position: absolute;
    top: 50%;
    width: 4.5%;
    height: 3%;
    right: 4%;
    cursor: pointer;
    border-radius: 50%;
}

#nextBtn2:hover{
    width: 5.5%;
    height: 4%;
    transition: .3s ease;
}


/* Section 5 */

.section-avaliations{
    display: none;
    position: absolute;
    width: 50%;
    height: 140vh;
    animation: show-page 3s forwards;
    background-color: white;
}

.slide-avaliation{
    display: flex;
    position: relative;
    left: 15%;
    height: 100%;
    width: 80%;
    overflow: hidden;
}

.nav-avaliations{
    display: flex;
    position: absolute;
    flex-direction: column;
    left: 10%;
    top: 23%;
    width: 100%;
    height: 60%;
    transition: all 1s ease-in-out;
}

.nav-avaliations-individual{
    display: flex;
    position: relative;
    width: 100%;
    height: 24%;
    margin-bottom: 9%;
    overflow: hidden;
    border-radius: 10px;
}

.img-avaliation{
    display: flex;
    position: absolute;
    left: 0;    
    height: 100%;
    border-radius: 50%;
}

.title-avaliation{
    display: flex;
    position: absolute;
    left: 40%;
}

.text-avaliation{
    display: flex;
    position: absolute;
    left: 40%;
    top: 20%;
}

#prevBtn3{
    display: flex;
    position: absolute;
    top: 50%;
    width: 4.5%;
    height: 3%;
    left: 4%;
    cursor: pointer;
    border-radius: 50%;
}

#prevBtn3:hover{
    width: 5.5%;
    height: 4%;
    transition: .3s ease;
}

#nextBtn3{
    display: flex;
    position: absolute;
    top: 50%;
    width: 4.5%;
    height: 3%;
    right: 4%;
    cursor: pointer;
    border-radius: 50%;
}

#nextBtn3:hover{
    width: 5.5%;
    height: 4%;
    transition: .3s ease;
}